* {
    margin: 0 auto;
	border: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0px;
}

body {
	background: #F0F0F0;
	font: 14px/20px Arial, San-Serif;
	color: #555;
	margin: 0 auto;
}

 h1 {
	text-align: center;
	font-size: 180%;
	/* padding: 5% 0;  5% up and bottom, 0 left right */ 
}

h1#welcome {
	color: #FFFFFF;
	opacity: 0.40;
	float: left;
	padding: 35px 20px 20px 0;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding:  5px 10px 5px 10px;
}

#big-one, #big-two, #big-three, #big-four {
    position: relative;
	background-position: center; 
	overflow: hidden;
    margin-bottom: 15px;	
	max-height: 100vh;
	text-align: center;
}

iframe#the-movie {
	frameborder: 0; 
    volume: 0; 
    height: 864px; 
    width: 1535px;
	margin-top: -30px;
    background-position: center; 
	overflow: hidden;
}

img {
	text-align: center;
    max-width: 100%;
	height: auto;
	width: auto;
}

img.big-pictures {
	float: left;
	text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;	
}

.inter-one {
    position: absolute;
    width: 80%;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	margin-top: 55vh;
	margin-bottom: 10vh;
	max-width: 960px;
}

#inter-one-1, #inter-one-2, #inter-one-3 {
    float: left;
	width: 27%;
	height: auto;
	margin: 0% 3% 0 3%;
	text-align: center;
    background-color: #FFFFFF;
	opacity: 0;
	padding: 10px;
	border-radius: 10px;
	} 

#inter-one-1 h2, 
#inter-one-2 h2, 
#inter-one-3 h2 {
	font-weight: bold;	
	padding: 15px;
}

#inter-one-1 h2:hover, 
#inter-one-2 h2:hover, 
#inter-one-3 h2:hover {
    color: #00FF00;
}


main {
	max-width: 960px;
	height: auto; 
}

.round-image {
	width: 100px;
	height: 100px;
	border-radius: 100px;
}


header {
	background: #333333 /* #405580 */;
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.6;
}

h2, h3 {
	text-align: center;
	font-size: 140%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.inner-header {
	max-width: 960px;
	height: auto;
}

img#herb-header {
	height: 78px;
	width: 49px;
	float: left;
	margin: 4px 15px;
}

nav {
	float: right;
	padding: 35px 20px 20px 0;
}

ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
	float: left;
	margin-left: 25px;
	padding-right: 0px;
	margin-right: 0px;
}

.teraz {
	border: 1px solid #FFFFFF;
	border-radius: 50px;
	padding: 4px 9px 4px 9px;
}

.hamburger-icon {
	fill: #FFFFFF;
	display: none;
}

.hamburger-icon:hover {
	fill: #00FF00;
}
section {
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}

section p {
	padding-bottom: 15px;
	padding-top: 10px;
}

.clear {
	clear: both;
}

.art-col {
	float: left;
	width: 46%;
	float: left;
	margin: 2% 2%;
	text-align: center;
	display: inline-bloxk;	
}

.art-col p {
	display: inline-bloxk;	
	padding-bottom: 15px;
}

footer {
	background: #333333;
	width: 100%;
	overflow: hidden;
	opacity: 0.90;
}

.footer-wrapper {
	max-width: 960px;
	height: auto;	
}

footer h4 {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	opacity: 0.50;
}

.foot-sec li {
	padding-bottom: 10px;	
}

.foot-sec a{
	font-weight: 600;
    font-size: 80%;
} 

section#herb-farea {
	position: relative;
}

img#herb-footer {
	height: 78px;
	width: 49px;
	margin-left: 12%;
}

div#second-footer {
	border-top: 1px solid #4D4E50;
	background-color: #333333;
	height: 40px;
	text-align: center;
	opacity: 0.95;
}

p#copyright {
	padding-top: 10px;
	color: #FFFFFF;
	opacity: 0.50;
	font-size: 80%;
}

@media (max-width: 940px) {
	img.big-pictures {
	    max-width: 940px;
		margin: 0 auto;
		text-align: center;
    }
	
#inter-one-1 p, 
#inter-one-2 p, 
#inter-one-3 p {
	display: none;
}

#inter-one-1 h2, 
#inter-one-2 h2, 
#inter-one-3 h2 {
	padding: 5px;
}
	
}

@media (max-width: 740px) {	

#inter-one-1, #inter-one-2, #inter-one-3 {
        display: block;
		width: 100%;
		border-radius: 0px;
		margin: 0 0 2px 0;
}
	
	svg.hamburger-icon {
		display: inline-block;
	}
	
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #405580;
		border: 1px solid #FFFFFF;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 2px 0 2px 2px;
	}
	
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
	
	nav:hover ul {
		display: block;
	}
	
	section {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	.art-col {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	p {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media (max-width: 410px) {
	h1 {
		display: none;
	}
}
